@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #050505;
  color: #00ff00;
  font-family: ui-monospace, monospace;
}

@layer components {
  .neon-border-blue {
    border: 1px solid #00ff00;
    box-shadow: 0 0 10px #00ff00;
  }

  .neon-border-purple {
    border: 1px solid #bc13fe;
    box-shadow: 0 0 10px #bc13fe;
  }
}
