@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #050505;
  color: #0ff0fc;
  font-family: ui-monospace, monospace;
}

/* Kartların ve alanların neon parlaması için global yardımcı sınıflar */
@layer components {
  .neon-border-blue {
    border: 1px solid #0ff0fc;
    box-shadow: 0 0 10px #0ff0fc;
  }
  .neon-border-purple {
    border: 1px solid #bc13fe;
    box-shadow: 0 0 10px #bc13fe;
  }
}
